@media screen and (max-width: 600px) {

    #resume .boxs{height: auto;
    min-height: 100vh;}
	#box1 .portrait .fade1{font-weight:400;font-size: 16px;}
	#box1 .portrait .fade2{font-weight:700;font-size: 16px;}
	#box2 .aboutdetails{font-size:16px;text-indent:2em;line-height: 50px;}
	#box3{padding-bottom:100px;}
	#box3 .skillbody{margin-top:30px;font-size: 25px;}
	#box3 ul li{margin-top:10px;}
    #box3 ul li .skillcolor{margin-top: 10vh;height:50px;line-height:50px;}

	#box3 ul li .skillcolor:before{content:attr(alt);    position: relative;top: -45px;}
    #btmNav li img{width:40px;height:40px;}
}
